.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item1{
  display: grid;
  grid-template-columns: 80px auto 80px;
  grid-column-gap: 40px;
  grid-template-rows: 1fr;
}

.count{
  grid-column: 2;
  grid-row: 1;
  padding: 20px;
  color: crimson;
  font-size: 30px;
}
